# Node.js / Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.*
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Python / Backend
/backend/__pycache__/
/backend/*.pyc
/backend/.venv
/backend/venv
/backend/env